<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
    Get help on the Ruby on rails tutotrail at the
    <a href="http//:ruby.com/contact"> contact page</a>
    to see help regarding this ask me ;)
    <a href="http:ruby.com"> Ruby help page</a>
</p>
